In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Get:6 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,278 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [983 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,215 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,781 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [949 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,503 kB]
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [787 kB]
Get:23 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:24 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.3 kB]
Fetched 12.9 MB in 7s (1,890 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-05-25 17:49:56--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.69MB/s    in 0.2s

2022-05-25 17:49:56 (5.69 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [5]:
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com

# Read in data from S3 Buckets
from pyspark import SparkFiles
url ="https://myosus32022buk.s3.amazonaws.com/census_estimates.csv"
spark.sparkContext.addFile(url)
CountyPop_df = spark.read.csv(SparkFiles.get("census_estimates.csv"), sep=",", header=True, inferSchema=True)

In [6]:
CountyPop_df.show()

+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|         _c0|Revised Population Estimate July 1, 2020|Certified Population Estimate July 1, 2021|Population Change 2020-2021|Percent Change 2020-2021| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
|     Oregon |                               4,243,791|                                 4,266,560|                     22,769|                   0.54%|null|null|null|null|null|null|null|null|null|null|
|      BAKER |                                  16,721|                                    16,860|                        139|                   0.83%|null|null|null|null|null|null|null|null|null|null|
|     BENTON |                                  95,316|                                    93,976|                     -1,340|                  -1.41%|null|null|null|null|null|null|null|null|null|null|
|  CLACKAMAS |                                 422,185|                                   425,316|                      3,131|                   0.74%|null|null|null|null|null|null|null|null|null|null|
|    CLATSOP |                                  41,137|                                    41,428|                        291|                   0.71%|null|null|null|null|null|null|null|null|null|null|
|   COLUMBIA |                                  52,748|                                    53,014|                        266|                   0.50%|null|null|null|null|null|null|null|null|null|null|
|       COOS |                                  64,958|                                    65,154|                        196|                   0.30%|null|null|null|null|null|null|null|null|null|null|
|      CROOK |                                  24,866|                                    25,482|                        616|                   2.48%|null|null|null|null|null|null|null|null|null|null|
|      CURRY |                                  23,510|                                    23,662|                        152|                   0.65%|null|null|null|null|null|null|null|null|null|null|
|  DESCHUTES |                                 199,259|                                   203,390|                      4,131|                   2.07%|null|null|null|null|null|null|null|null|null|null|
|    DOUGLAS |                                 111,214|                                   111,694|                        480|                   0.43%|null|null|null|null|null|null|null|null|null|null|
|    GILLIAM |                                   1,995|                                     2,039|                         44|                   2.21%|null|null|null|null|null|null|null|null|null|null|
|      GRANT |                                   7,239|                                     7,226|                        -13|                  -0.18%|null|null|null|null|null|null|null|null|null|null|
|     HARNEY |                                   7,497|                                     7,537|                         40|                   0.53%|null|null|null|null|null|null|null|null|null|null|
| HOOD RIVER |                                  23,949|                                    23,888|                        -61|                  -0.25%|null|null|null|null|null|null|null|null|null|null|
|    JACKSON |                                 223,521|                                   223,827|                        306|                   0.14%|null|null|null|null|null|null|null|null|null|null|
|  JEFFERSON |                                  24,553|                                    24,889|                        336|                   1.37%|null|null|null|null|null|null|null|null|null|null|
|  JOSEPHINE |                                  88,204|                                    88,728|                        524|                   0.59%|null|null|null|null|null|null|null|null|null|null|
|    KLAMATH |                                  69,512|                                    69,822|                        310|                   0.45%|null|null|null|null|null|null|null|null|null|null|
|       LAKE |                                   8,165|                                     8,177|                         12|                   0.15%|null|null|null|null|null|null|null|null|null|null|
+------------+----------------------------------------+------------------------------------------+---------------------------+------------------------+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [7]:
url ="https://myosus32022buk.s3.amazonaws.com/County%20Product%20Trend_Full%20Data_data.csv"
spark.sparkContext.addFile(url)
CountyProductData_df = spark.read.csv(SparkFiles.get("County Product Trend_Full Data_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
CountyProductData_df.show()

+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|     Date|       Product Type|   County|Month Name|Month Year|Tooltip Date|Market Share County|   Sales|Sales Detail|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|58637.51|    58637.51|
|10/1/2016|          Usable MJ|    Baker|   October| 10/1/2016|October 2016|              100.0|   441.0|       441.0|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   803.2|       803.2|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  359.68|      359.68|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    30.0|        30.0|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42| 4416.94|     4416.94|
|10/1/2016|Concentrate/Extract|Clackamas|   October| 10/1/2016|October 2016|              15.14|   144.0|       144.0|
|10/1/2016|    Edible/Tincture|Clackamas|   October| 10/1/2016|October 2016|               9.31|  223.05|      223.05|
|10/1/2016|              Other|Clackamas|   October| 10/1/2016|October 2016|               1.13|    40.5|        40.5|
|10/1/2016|          Usable MJ|Clackamas|   October| 10/1/2016|October 2016|              74.42|   238.8|       238.8|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55| 10808.0|     10808.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|  3177.0|      3177.0|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|  1014.0|      1014.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04|42128.05|    42128.05|
|10/1/2016|Concentrate/Extract|  Clatsop|   October| 10/1/2016|October 2016|              19.55|  2249.0|      2249.0|
|10/1/2016|    Edible/Tincture|  Clatsop|   October| 10/1/2016|October 2016|               5.61|   570.5|       570.5|
|10/1/2016|              Other|  Clatsop|   October| 10/1/2016|October 2016|               1.79|   184.0|       184.0|
|10/1/2016|          Usable MJ|  Clatsop|   October| 10/1/2016|October 2016|              73.04| 6653.24|     6653.24|
|10/1/2016|Concentrate/Extract|Deschutes|   October| 10/1/2016|October 2016|              12.36| 9588.78|     9588.78|
|10/1/2016|    Edible/Tincture|Deschutes|   October| 10/1/2016|October 2016|               8.56| 6546.11|     6546.11|
+---------+-------------------+---------+----------+----------+------------+-------------------+--------+------------+
only showing top 20 rows

In [15]:
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')

# PYSpark for importing the CSV to Postgres, its not needed for anything but the import.
# Configure settings for RDS
mode = "append"
#aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com
jdbc_url="jdbc:postgresql://aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20"
config = {"user":"postgres",
        "password": password,
        "driver":"org.postgresql.Driver"}


#SQLAlcehmy for working directly with the table stored in Postgres, this is used extensivly.
from sqlalchemy import create_engine
#engine = create_engine('sqlite:///example.db', echo=True)
connstring = 'postgresql://postgres:'+password+'@aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20'
engine = create_engine(connstring, echo=True)
conn = engine.connect()
# from sqlalchemy.orm import sessionmaker
#dont need Session = sessionmaker(bind=engine)
#dont need session = Session()


# Make sure there are no collisions with existing table so we can create them.
rs = conn.execute("DROP TABLE IF EXISTS canabisdata;")
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatrim;")
rs = conn.execute("DROP TABLE IF EXISTS countypop;")
rs = conn.execute("DROP TABLE IF EXISTS complete_county_data;")

Enter database password··········
2022-05-25 18:01:39,489 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-05-25 18:01:39,492 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:39,656 INFO sqlalchemy.engine.Engine select current_schema()
2022-05-25 18:01:39,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:39,822 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-05-25 18:01:39,824 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:39,986 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdata;
2022-05-25 18:01:39,988 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:40,150 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:01:40,232 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatrim;
2022-05-25 18:01:40,233 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:40,395 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:01:40,477 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS countypop;
2022-05-25 18:01:40,478 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:40,641 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:01:40,726 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS complete_county_data;
2022-05-25 18:01:40,729 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:01:40,891 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
# Write DataFrame to CountyPop table in RDS
CountyPop_df.write.jdbc(url=jdbc_url, table='countypop', mode=mode, properties=config)

In [17]:
# Write DataFrame to CanabisData table in RDS
CountyProductData_df.write.jdbc(url=jdbc_url, table='canabisdata', mode=mode, properties=config)

In [18]:
import pandas as pd

#This is Code Directly Ported from a Query Editor in Postgres
#--
#--
#--reworked our draft SQL to work with tables direct imported from CSV (in AWS File Bucket) to AWS Postgres 
#--
#--
#
#--The AWS table created from CVS are
#--
#-- 1 "County Product Trend_Full Data_data.csv"   ===>>>   public.canabisdata
#-- 2 "census_estimates.csv"                      ===>>>   public.countypop
#
#-- 1 public.canabisdata is projected into canabisdatatrim as a smaller table with fewer features
#--    the date column is formated to be ready for encoding in python
# CREATE TABLE canabisdatatrim AS
# SELECT "County" AS county,
#     date_part('month', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesmonth, 
# 	date_part('year', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesyear, 
# 	"Product Type" as product, 
# 	MAX("Market Share County") as marketshare, 
#     SUM("Sales") AS sales
# FROM public."canabisdata"
# GROUP BY "County", "Month Name", "Month Year", "Product Type"
# ORDER BY "County", "Month Name", "Month Year", "Product Type";

#-----------------------------------------------------
rs = conn.execute("CREATE TABLE canabisdatatrim AS SELECT \"County\" AS county, date_part('month', TO_DATE(\"Month Year\", 'mm/dd/yyyy')) AS salesmonth, date_part('year', TO_DATE(\"Month Year\", 'mm/dd/yyyy')) AS salesyear, \"Product Type\" as product, MAX(\"Market Share County\") as marketshare, SUM(\"Sales\") AS sales FROM public.\"canabisdata\" GROUP BY \"County\", \"Month Name\", \"Month Year\", \"Product Type\" ORDER BY \"County\", \"Month Name\", \"Month Year\", \"Product Type\";")
#-----------------------------------------------------


# -- 2 public.countypop is altered to have fewer features
# --    and renamed columns
# ALTER TABLE public."countypop"
# 	DROP COLUMN _c5, 
# 	DROP COLUMN _c6, 
# 	DROP COLUMN _c7, 
# 	DROP COLUMN _c8, 
# 	DROP COLUMN _c9, 
# 	DROP COLUMN _c10, 
# 	DROP COLUMN _c11, 
# 	DROP COLUMN _c12, 
# 	DROP COLUMN _c13, 
# 	DROP COLUMN _c14,
# 	DROP COLUMN "Certified Population Estimate July 1, 2021", 
# 	DROP COLUMN "Population Change 2020-2021", 
# 	DROP COLUMN "Percent Change 2020-2021";

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypop\" DROP COLUMN _c5, DROP COLUMN _c6, DROP COLUMN _c7, DROP COLUMN _c8, DROP COLUMN _c9, DROP COLUMN _c10, DROP COLUMN _c11, DROP COLUMN _c12, DROP COLUMN _c13, DROP COLUMN _c14, DROP COLUMN \"Certified Population Estimate July 1, 2021\", DROP COLUMN \"Population Change 2020-2021\", DROP COLUMN \"Percent Change 2020-2021\";")
#-----------------------------------------------------


# ALTER TABLE public."countypop"
# 	RENAME COLUMN _c0 to county;

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypop\" RENAME COLUMN _c0 to county;")
#-----------------------------------------------------


# ALTER TABLE public."countypop"
# 	RENAME COLUMN "Revised Population Estimate July 1, 2020" to population;

#-----------------------------------------------------
rs = conn.execute("ALTER TABLE public.\"countypop\" RENAME COLUMN \"Revised Population Estimate July 1, 2020\" to population;")
#-----------------------------------------------------


# -- here we trim out the ','
# UPDATE public."countypop"
# SET population = replace(population, ',', '');

#-----------------------------------------------------
rs = conn.execute("UPDATE public.\"countypop\" SET population = replace(population, ',', '');")
#-----------------------------------------------------


# -- here we remove any spaces (two word counties are now one word, thats ok)
# UPDATE public."countypop"
# SET county = replace(county, ' ', '') ;

#-----------------------------------------------------
rs = conn.execute("UPDATE public.\"countypop\" SET county = replace(county, ' ', '') ;")
#-----------------------------------------------------


# -- again, here we remove any spaces (two word counties are now one word, thats ok)
# UPDATE canabisdatatrim
# SET County = replace(county, ' ', '');

#-----------------------------------------------------
rs = conn.execute("UPDATE canabisdatatrim SET County = replace(county, ' ', '');")
#-----------------------------------------------------


# -- Take Table 1 and 2 project them through a left join(favoring Sales data table)
# SELECT
# 	public.canabisdatatrim.county, 
# 	public.countypop.population, 
# 	public.canabisdatatrim.salesmonth, 
# 	public.canabisdatatrim.salesyear, 
# 	public.canabisdatatrim.product, 
# 	public.canabisdatatrim.marketshare, 
# 	public.canabisdatatrim.sales
# INTO complete_county_data
# FROM public.canabisdatatrim
# 	LEFT JOIN public.countypop
# 	ON lower(public.canabisdatatrim.county) = lower(public.countypop.county)
# ORDER BY canabisdatatrim.county;

#-----------------------------------------------------
rs = conn.execute("SELECT public.canabisdatatrim.county, public.countypop.population, public.canabisdatatrim.salesmonth, public.canabisdatatrim.salesyear, public.canabisdatatrim.product, public.canabisdatatrim.marketshare, public.canabisdatatrim.sales INTO complete_county_data FROM public.canabisdatatrim LEFT JOIN public.countypop ON lower(public.canabisdatatrim.county) = lower(public.countypop.county) ORDER BY canabisdatatrim.county;")
#-----------------------------------------------------


# --We can drop the tables created from the CSV(so they can be created again if re-run)
# --    and the extra tables used for cleaning
# DROP TABLE [IF EXISTS] canabisdata;
# DROP TABLE canabisdatatrim;
# DROP TABLE countypop;

#-----------------------------------------------------
rs = conn.execute("DROP TABLE IF EXISTS canabisdata;")
rs = conn.execute("DROP TABLE IF EXISTS canabisdatatrim;")
rs = conn.execute("DROP TABLE IF EXISTS countypop;")
#-----------------------------------------------------


# -- The finished product
# SELECT county, population, salesmonth, salesyear, product, marketshare, sales
# FROM public.complete_county_data;

# #-----------------------------------------------------
# SQLAlchemy  we can just send the table name, but the full SQL would be similar to 
# rs = conn.execute("SELECT county, population, salesmonth, salesyear, product, marketshare, sales FROM public.complete_county_data;") # THIS IS THE DATASET WE WANT!!!!!!!!!!!!!!!!!!!!!!!
# #-----------------------------------------------------

candfraw = pd.read_sql_table('complete_county_data', conn)
#print(candfraw)

2022-05-25 18:02:16,853 INFO sqlalchemy.engine.Engine CREATE TABLE canabisdatatrim AS SELECT "County" AS county, date_part('month', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesmonth, date_part('year', TO_DATE("Month Year", 'mm/dd/yyyy')) AS salesyear, "Product Type" as product, MAX("Market Share County") as marketshare, SUM("Sales") AS sales FROM public."canabisdata" GROUP BY "County", "Month Name", "Month Year", "Product Type" ORDER BY "County", "Month Name", "Month Year", "Product Type";
2022-05-25 18:02:16,855 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:17,087 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:17,186 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypop" DROP COLUMN _c5, DROP COLUMN _c6, DROP COLUMN _c7, DROP COLUMN _c8, DROP COLUMN _c9, DROP COLUMN _c10, DROP COLUMN _c11, DROP COLUMN _c12, DROP COLUMN _c13, DROP COLUMN _c14, DROP COLUMN "Certified Population Estimate July 1, 2021", DROP COLUMN "Population Change 2020-2021", DROP COLUMN "Percent Change 2020-2021";
2022-05-25 18:02:17,187 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:17,350 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:17,432 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypop" RENAME COLUMN _c0 to county;
2022-05-25 18:02:17,434 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:17,596 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:17,679 INFO sqlalchemy.engine.Engine ALTER TABLE public."countypop" RENAME COLUMN "Revised Population Estimate July 1, 2020" to population;
2022-05-25 18:02:17,681 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:17,843 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:17,926 INFO sqlalchemy.engine.Engine UPDATE public."countypop" SET population = replace(population, ',', '');
2022-05-25 18:02:17,927 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:18,090 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:18,174 INFO sqlalchemy.engine.Engine UPDATE public."countypop" SET county = replace(county, ' ', '') ;
2022-05-25 18:02:18,175 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:18,337 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:18,419 INFO sqlalchemy.engine.Engine UPDATE canabisdatatrim SET County = replace(county, ' ', '');
2022-05-25 18:02:18,421 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:18,600 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:18,683 INFO sqlalchemy.engine.Engine SELECT public.canabisdatatrim.county, public.countypop.population, public.canabisdatatrim.salesmonth, public.canabisdatatrim.salesyear, public.canabisdatatrim.product, public.canabisdatatrim.marketshare, public.canabisdatatrim.sales INTO complete_county_data FROM public.canabisdatatrim LEFT JOIN public.countypop ON lower(public.canabisdatatrim.county) = lower(public.countypop.county) ORDER BY canabisdatatrim.county;
2022-05-25 18:02:18,684 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:18,862 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdata;
2022-05-25 18:02:18,863 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:18,945 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:19,057 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS canabisdatatrim;
2022-05-25 18:02:19,059 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:19,221 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:19,305 INFO sqlalchemy.engine.Engine DROP TABLE IF EXISTS countypop;
2022-05-25 18:02:19,307 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:02:19,469 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 18:02:19,555 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-05-25 18:02:19,557 INFO sqlalchemy.engine.Engine [generated in 0.00276s] {'schema': 'public'}
2022-05-25 18:02:19,722 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2022-05-25 18:02:19,724 INFO sqlalchemy.engine.Engine [generated in 0.00230s] {'schema': 'public'}
2022-05-25 18:02:19,810 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-05-25 18:02:19,812 INFO sqlalchemy.engine.Engine [generated in 0.00241s] {'table_name': 'complete_county_data'}
2022-05-25 18:02:19,897 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-05-25 18:02:19,899 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {'table_oid': 16748}
2022-05-25 18:02:19,985 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-05-25 18:02:19,987 INFO sqlalchemy.engine.Engine [generated in 0.00201s] {}
2022-05-25 18:02:20,072 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-05-25 18:02:20,073 INFO sqlalchemy.engine.Engine [generated in 0.00185s] {}
2022-05-25 18:02:20,162 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-05-25 18:02:20,168 INFO sqlalchemy.engine.Engine [generated in 0.00630s] {'table_oid': 16748}
2022-05-25 18:02:20,252 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-05-25 18:02:20,254 INFO sqlalchemy.engine.Engine [generated in 0.00199s] {'table_oid': 16748}
2022-05-25 18:02:20,342 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-05-25 18:02:20,343 INFO sqlalchemy.engine.Engine [generated in 0.00182s] {'table': 16748}
2022-05-25 18:02:20,429 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-05-25 18:02:20,431 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {'table_oid': 16748}
2022-05-25 18:02:20,517 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-05-25 18:02:20,519 INFO sqlalchemy.engine.Engine [generated in 0.00189s] {'table_oid': 16748}
2022-05-25 18:02:20,602 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-05-25 18:02:20,604 INFO sqlalchemy.engine.Engine [generated in 0.00242s] {'table_oid': 16748}
2022-05-25 18:02:20,687 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-05-25 18:02:20,689 INFO sqlalchemy.engine.Engine [generated in 0.00187s] {'table_oid': 16748}
2022-05-25 18:02:20,774 INFO sqlalchemy.engine.Engine SELECT complete_county_data.county, complete_county_data.population, complete_county_data.salesmonth, complete_county_data.salesyear, complete_county_data.product, complete_county_data.marketshare, complete_county_data.sales
FROM complete_county_data
2022-05-25 18:02:20,775 INFO sqlalchemy.engine.Engine [generated in 0.00182s] {}
       county population  salesmonth  salesyear              product  \
0       Baker      16721         9.0     2018.0            Usable MJ
1       Baker      16721         9.0     2019.0  Concentrate/Extract
2       Baker      16721         2.0     2018.0                Other
3       Baker      16721         9.0     2021.0            Usable MJ
4       Baker      16721         9.0     2021.0                Other
...       ...        ...         ...        ...                  ...
9509  Yamhill     107873        10.0     2021.0            Usable MJ
9510  Yamhill     107873         9.0     2017.0  Concentrate/Extract
9511  Yamhill     107873         9.0     2017.0      Edible/Tincture
9512  Yamhill     107873         9.0     2017.0                Other
9513  Yamhill     107873         9.0     2017.0            Usable MJ

      marketshare       sales
0           48.89  1344597.20
1           28.40   529323.96
2            1.68    30674.33
3           52.50   219345.61
4            7.17    29949.32
...           ...         ...
9509        47.11   817694.68
9510        24.40   240760.82
9511         8.02    79091.16
9512         2.01    19850.00
9513        65.57   646944.32

[9514 rows x 7 columns]

In [19]:
candfraw

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,16721,9.0,2018.0,Usable MJ,48.89,1344597.20
1,Baker,16721,9.0,2019.0,Concentrate/Extract,28.40,529323.96
2,Baker,16721,2.0,2018.0,Other,1.68,30674.33
3,Baker,16721,9.0,2021.0,Usable MJ,52.50,219345.61
4,Baker,16721,9.0,2021.0,Other,7.17,29949.32
...,...,...,...,...,...,...,...
9509,Yamhill,107873,10.0,2021.0,Usable MJ,47.11,817694.68
9510,Yamhill,107873,9.0,2017.0,Concentrate/Extract,24.40,240760.82
9511,Yamhill,107873,9.0,2017.0,Edible/Tincture,8.02,79091.16
9512,Yamhill,107873,9.0,2017.0,Other,2.01,19850.00
9513,Yamhill,107873,9.0,2017.0,Usable MJ,65.57,646944.32