In [ ]:
# Import our dependencies
import pandas as pd
from datetime import datetime as dt
import numpy as np

# Machine Learning includes
#from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
#from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
#from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from getpass import getpass
from sqlalchemy import create_engine

In [ ]:
# Store environmental variable
password = getpass('Enter database password')

#SQLAlcehmy for working directly with the table stored in Postgres.
connstring = 'postgresql://postgres:'+password+'@aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20'
engine = create_engine(connstring, echo=True)
conn = engine.connect()


# #-----------------------------------------------------
# SQLAlchemy  we can just request the table name, but the full SQL would be similar to 
# rs = conn.execute("SELECT county, population, salesmonth, salesyear, product, marketshare, sales FROM public.complete_county_data;") # THIS IS THE DATASET WE WANT!!!!!!!!!!!!!!!!!!!!!!!
# #-----------------------------------------------------
candfraw = pd.read_sql_table('complete_county_data', conn)

Enter database password··········

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

2022-05-26 01:51:18,381 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-05-26 01:51:18,383 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-26 01:51:18,514 INFO sqlalchemy.engine.Engine select current_schema()
2022-05-26 01:51:18,516 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-26 01:51:18,647 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-05-26 01:51:18,649 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-26 01:51:18,781 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-05-26 01:51:18,783 INFO sqlalchemy.engine.Engine [generated in 0.00211s] {'schema': 'public'}
2022-05-26 01:51:18,915 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2022-05-26 01:51:18,916 INFO sqlalchemy.engine.Engine [generated in 0.00149s] {'schema': 'public'}
2022-05-26 01:51:18,984 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-05-26 01:51:18,985 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'table_name': 'complete_county_data'}
2022-05-26 01:51:19,052 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-05-26 01:51:19,054 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {'table_oid': 16748}
2022-05-26 01:51:19,123 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-05-26 01:51:19,124 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {}
2022-05-26 01:51:19,191 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-05-26 01:51:19,192 INFO sqlalchemy.engine.Engine [generated in 0.00130s] {}
2022-05-26 01:51:19,260 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-05-26 01:51:19,262 INFO sqlalchemy.engine.Engine [generated in 0.00136s] {'table_oid': 16748}
2022-05-26 01:51:19,328 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-05-26 01:51:19,330 INFO sqlalchemy.engine.Engine [generated in 0.00208s] {'table_oid': 16748}
2022-05-26 01:51:19,399 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-05-26 01:51:19,401 INFO sqlalchemy.engine.Engine [generated in 0.00210s] {'table': 16748}
2022-05-26 01:51:19,469 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-05-26 01:51:19,471 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {'table_oid': 16748}
2022-05-26 01:51:19,542 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-05-26 01:51:19,544 INFO sqlalchemy.engine.Engine [generated in 0.00177s] {'table_oid': 16748}
2022-05-26 01:51:19,614 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-05-26 01:51:19,616 INFO sqlalchemy.engine.Engine [generated in 0.00188s] {'table_oid': 16748}
2022-05-26 01:51:19,683 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-05-26 01:51:19,684 INFO sqlalchemy.engine.Engine [generated in 0.00186s] {'table_oid': 16748}
2022-05-26 01:51:19,753 INFO sqlalchemy.engine.Engine SELECT complete_county_data.county, complete_county_data.population, complete_county_data.salesmonth, complete_county_data.salesyear, complete_county_data.product, complete_county_data.marketshare, complete_county_data.sales
FROM complete_county_data
2022-05-26 01:51:19,755 INFO sqlalchemy.engine.Engine [generated in 0.00201s] {}

In [ ]:
candfraw

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,16721,9.0,2018.0,Usable MJ,48.89,1344597.20
1,Baker,16721,9.0,2019.0,Concentrate/Extract,28.40,529323.96
2,Baker,16721,2.0,2018.0,Other,1.68,30674.33
3,Baker,16721,9.0,2021.0,Usable MJ,52.50,219345.61
4,Baker,16721,9.0,2021.0,Other,7.17,29949.32
...,...,...,...,...,...,...,...
9509,Yamhill,107873,10.0,2021.0,Usable MJ,47.11,817694.68
9510,Yamhill,107873,9.0,2017.0,Concentrate/Extract,24.40,240760.82
9511,Yamhill,107873,9.0,2017.0,Edible/Tincture,8.02,79091.16
9512,Yamhill,107873,9.0,2017.0,Other,2.01,19850.00
9513,Yamhill,107873,9.0,2017.0,Usable MJ,65.57,646944.32

In [ ]:
cannabis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9514 entries, 0 to 9513
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   county       9514 non-null   object
 1   population   9514 non-null   object
 2   salesmonth   9514 non-null   float64
 3   salesyear    9514 non-null   float64
 4   product      9514 non-null   object
 5   marketshare  9514 non-null   float64
 6   sales        9514 non-null   float64
dtypes: float64(4), object(3)
memory usage: 520.4+ KB

In [85]:

# Read in our dataset
#candfraw = pd.read_csv("second_segment/County Product Trend_Full Data_data.csv")

cannabis_df = candfraw.copy(deep=True)
cannabis_df

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,16721,9.0,2018.0,Usable MJ,48.89,1344597.20
1,Baker,16721,9.0,2019.0,Concentrate/Extract,28.40,529323.96
2,Baker,16721,2.0,2018.0,Other,1.68,30674.33
3,Baker,16721,9.0,2021.0,Usable MJ,52.50,219345.61
4,Baker,16721,9.0,2021.0,Other,7.17,29949.32
...,...,...,...,...,...,...,...
9509,Yamhill,107873,10.0,2021.0,Usable MJ,47.11,817694.68
9510,Yamhill,107873,9.0,2017.0,Concentrate/Extract,24.40,240760.82
9511,Yamhill,107873,9.0,2017.0,Edible/Tincture,8.02,79091.16
9512,Yamhill,107873,9.0,2017.0,Other,2.01,19850.00
9513,Yamhill,107873,9.0,2017.0,Usable MJ,65.57,646944.32

In [86]:
#
#
# NOTE: Since Previous Section alot of code has been moved the the SQL DB code
#
#

In [87]:
# Convert the Date (Month and Year)
cannabis_df['salesmonth'] = cannabis_df['salesmonth'].astype(int).astype(object)
cannabis_df['salesyear'] = cannabis_df['salesyear'].astype(int).astype(object)
cannabis_df['population'] = cannabis_df['population'].astype(float)
cannabis_df["population"] = round(cannabis_df["population"]/1000).astype(int)
cannabis_df["sales"] = round(cannabis_df["sales"]).astype(int)
cannabis_df["marketshare"] = (cannabis_df["marketshare"]*100).astype(int)

In [88]:
cannabis_df

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,17,9,2018,Usable MJ,4889,1344597
1,Baker,17,9,2019,Concentrate/Extract,2840,529324
2,Baker,17,2,2018,Other,168,30674
3,Baker,17,9,2021,Usable MJ,5250,219346
4,Baker,17,9,2021,Other,717,29949
...,...,...,...,...,...,...,...
9509,Yamhill,108,10,2021,Usable MJ,4711,817695
9510,Yamhill,108,9,2017,Concentrate/Extract,2440,240761
9511,Yamhill,108,9,2017,Edible/Tincture,802,79091
9512,Yamhill,108,9,2017,Other,200,19850
9513,Yamhill,108,9,2017,Usable MJ,6556,646944

In [89]:
#Take a look at data
cannabis_df["product"].unique()

array(['Usable MJ', 'Concentrate/Extract', 'Other',
       'Inhalable Product with Non-Cannabis Additives',
       'Industrial Hemp Commodity/Product', 'Edible/Tincture',
       'Industrial Hemp'], dtype=object)

In [90]:
cannabis_df["county"].unique()

array(['Baker', 'Benton', 'Clackamas', 'Clatsop', 'Columbia', 'Coos',
       'Curry', 'Deschutes', 'Douglas', 'Grant', 'Harney', 'HoodRiver',
       'Jackson', 'Jefferson', 'Josephine', 'Klamath', 'Lake', 'Lane',
       'Lincoln', 'Linn', 'Malheur', 'Marion', 'Multnomah', 'Polk',
       'Tillamook', 'Umatilla', 'Union', 'Wallowa', 'Wasco', 'Washington',
       'Yamhill'], dtype=object)

In [91]:
cannabis_df["salesmonth"].unique()

array([9, 2, 4, 8, 12, 1, 7, 6, 3, 5, 11, 10], dtype=object)

In [92]:
cannabis_df["salesyear"].unique()

array([2018, 2019, 2021, 2020, 2017, 2022, 2016], dtype=object)

In [93]:
cannabis_df["population"].unique()

array([ 17,  95, 422,  41,  53,  65,  24, 199, 111,   7, 224,  25,  88,
        70,   8, 383,  50, 129,  32, 346, 816,  27,  80, 601, 108])

In [94]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [95]:
# Generate our categorical variable lists
cannabis_cat = cannabis_df.dtypes[cannabis_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
cannabis_df[cannabis_cat].nunique()

county        31
salesmonth    12
salesyear      7
product        7
dtype: int64

In [96]:
cannabis_df

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,17,9,2018,Usable MJ,4889,1344597
1,Baker,17,9,2019,Concentrate/Extract,2840,529324
2,Baker,17,2,2018,Other,168,30674
3,Baker,17,9,2021,Usable MJ,5250,219346
4,Baker,17,9,2021,Other,717,29949
...,...,...,...,...,...,...,...
9509,Yamhill,108,10,2021,Usable MJ,4711,817695
9510,Yamhill,108,9,2017,Concentrate/Extract,2440,240761
9511,Yamhill,108,9,2017,Edible/Tincture,802,79091
9512,Yamhill,108,9,2017,Other,200,19850
9513,Yamhill,108,9,2017,Usable MJ,6556,646944

In [97]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(cannabis_df[cannabis_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(cannabis_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

,county_Baker,county_Benton,county_Clackamas,county_Clatsop,county_Columbia,county_Coos,county_Curry,county_Deschutes,county_Douglas,county_Grant,...,salesyear_2020,salesyear_2021,salesyear_2022,product_Concentrate/Extract,product_Edible/Tincture,product_Industrial Hemp,product_Industrial Hemp Commodity/Product,product_Inhalable Product with Non-Cannabis Additives,product_Other,product_Usable MJ
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [98]:
cannabis_dfWencode = cannabis_df.merge(encode_df, left_index=True, right_index=True)
cannabis_dfWencode = cannabis_dfWencode.drop(columns=cannabis_cat, axis=1)
#candfNodup_dfWencode

In [99]:
#candfNodup_dfWencode.columns.values.tolist()
#candfNodup_dfWencode.dtypes
cannabis_dfWencode.info()
#candfNodup_dfWencode.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9514 entries, 0 to 9513
Data columns (total 60 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   population                                             9514 non-null   int64
 1   marketshare                                            9514 non-null   int64
 2   sales                                                  9514 non-null   int64
 3   county_Baker                                           9514 non-null   float64
 4   county_Benton                                          9514 non-null   float64
 5   county_Clackamas                                       9514 non-null   float64
 6   county_Clatsop                                         9514 non-null   float64
 7   county_Columbia                                        9514 non-null   float64
 8   county_Coos                                            9514 non-null   float64
 9   county_Curry                                           9514 non-null   float64
 10  county_Deschutes                                       9514 non-null   float64
 11  county_Douglas                                         9514 non-null   float64
 12  county_Grant                                           9514 non-null   float64
 13  county_Harney                                          9514 non-null   float64
 14  county_HoodRiver                                       9514 non-null   float64
 15  county_Jackson                                         9514 non-null   float64
 16  county_Jefferson                                       9514 non-null   float64
 17  county_Josephine                                       9514 non-null   float64
 18  county_Klamath                                         9514 non-null   float64
 19  county_Lake                                            9514 non-null   float64
 20  county_Lane                                            9514 non-null   float64
 21  county_Lincoln                                         9514 non-null   float64
 22  county_Linn                                            9514 non-null   float64
 23  county_Malheur                                         9514 non-null   float64
 24  county_Marion                                          9514 non-null   float64
 25  county_Multnomah                                       9514 non-null   float64
 26  county_Polk                                            9514 non-null   float64
 27  county_Tillamook                                       9514 non-null   float64
 28  county_Umatilla                                        9514 non-null   float64
 29  county_Union                                           9514 non-null   float64
 30  county_Wallowa                                         9514 non-null   float64
 31  county_Wasco                                           9514 non-null   float64
 32  county_Washington                                      9514 non-null   float64
 33  county_Yamhill                                         9514 non-null   float64
 34  salesmonth_1                                           9514 non-null   float64
 35  salesmonth_2                                           9514 non-null   float64
 36  salesmonth_3                                           9514 non-null   float64
 37  salesmonth_4                                           9514 non-null   float64
 38  salesmonth_5                                           9514 non-null   float64
 39  salesmonth_6                                           9514 non-null   float64
 40  salesmonth_7                                           9514 non-null   float64
 41  salesmonth_8                                           9514 non-null   float64
 42  salesmonth_9                                           9514 non-null   float64
 43  salesmonth_10                                          9514 non-null   float64
 44  salesmonth_11                                          9514 non-null   float64
 45  salesmonth_12                                          9514 non-null   float64
 46  salesyear_2016                                         9514 non-null   float64
 47  salesyear_2017                                         9514 non-null   float64
 48  salesyear_2018                                         9514 non-null   float64
 49  salesyear_2019                                         9514 non-null   float64
 50  salesyear_2020                                         9514 non-null   float64
 51  salesyear_2021                                         9514 non-null   float64
 52  salesyear_2022                                         9514 non-null   float64
 53  product_Concentrate/Extract                            9514 non-null   float64
 54  product_Edible/Tincture                                9514 non-null   float64
 55  product_Industrial Hemp                                9514 non-null   float64
 56  product_Industrial Hemp Commodity/Product              9514 non-null   float64
 57  product_Inhalable Product with Non-Cannabis Additives  9514 non-null   float64
 58  product_Other                                          9514 non-null   float64
 59  product_Usable MJ                                      9514 non-null   float64
dtypes: float64(57), int64(3)
memory usage: 4.4 MB

In [100]:
# Set y equal to the target, Sales
y = cannabis_dfWencode["sales"].values
y

array([1344597,  529324,   30674, ...,   79091,   19850,  646944])

In [101]:
# Set X to the df minus the "Sales" column
X = cannabis_dfWencode.drop(columns=["sales"],axis=1)
X

,population,marketshare,county_Baker,county_Benton,county_Clackamas,county_Clatsop,county_Columbia,county_Coos,county_Curry,county_Deschutes,...,salesyear_2020,salesyear_2021,salesyear_2022,product_Concentrate/Extract,product_Edible/Tincture,product_Industrial Hemp,product_Industrial Hemp Commodity/Product,product_Inhalable Product with Non-Cannabis Additives,product_Other,product_Usable MJ
0,17,4889,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,17,2840,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17,168,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,17,5250,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,17,717,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,108,4711,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9510,108,2440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9511,108,802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9512,108,200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9513,108,6556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [102]:
# Split the preprocessed data into a training and testing dataset
#9514rows
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [103]:
#7135 X_train
#2379 X_test
#7135 y_train
#2379 y_test



#X_train
#X_test
#len(y_train)
#len(y_test)

In [104]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [105]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns.values)
X_train_scaled

,population,marketshare,county_Baker,county_Benton,county_Clackamas,county_Clatsop,county_Columbia,county_Coos,county_Curry,county_Deschutes,...,salesyear_2020,salesyear_2021,salesyear_2022,product_Concentrate/Extract,product_Edible/Tincture,product_Industrial Hemp,product_Industrial Hemp Commodity/Product,product_Inhalable Product with Non-Cannabis Additives,product_Other,product_Usable MJ
0,-0.674400,-0.960549,5.325612,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,1.826130,-0.286147,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
1,-0.314116,-0.925924,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,3.494705,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
2,2.289065,-0.970442,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,1.826130,-0.286147,-0.492103,-0.493202,6.269827,-0.422333,-0.206201,-0.492103,-0.496055
3,3.380067,-0.376869,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,2.027568,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
4,1.182840,-0.904159,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7130,-0.106064,-0.879427,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,2.032093,-0.496055
7131,0.376006,-0.452055,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,2.027568,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
7132,-0.506944,-0.831941,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
7133,-0.278595,2.297174,-0.187772,5.418644,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,2.015906
7134,0.995086,1.633362,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,1.991282,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,2.015906

In [106]:
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_train.columns.values)
X_test_scaled

,population,marketshare,county_Baker,county_Benton,county_Clackamas,county_Clatsop,county_Columbia,county_Coos,county_Curry,county_Deschutes,...,salesyear_2020,salesyear_2021,salesyear_2022,product_Concentrate/Extract,product_Edible/Tincture,product_Industrial Hemp,product_Industrial Hemp Commodity/Product,product_Inhalable Product with Non-Cannabis Additives,product_Other,product_Usable MJ
0,-0.314116,-0.507455,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,2.027568,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
1,-0.638879,-0.880911,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,5.247857,-0.19717,...,-0.502189,1.826130,-0.286147,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
2,-0.623656,-0.910095,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,3.494705,-0.492103,-0.493202,-0.159494,2.367801,-0.206201,-0.492103,-0.496055
3,-0.278595,-0.828479,-0.187772,5.418644,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,1.826130,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,4.849629,-0.492103,-0.496055
4,-0.674400,1.836166,5.325612,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,1.991282,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,2.015906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374,-0.197404,0.531791,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,1.991282,-0.547606,-0.286147,2.032093,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
2375,-0.638879,0.293373,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,5.247857,-0.19717,...,-0.502189,1.826130,-0.286147,2.032093,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
2376,-0.623656,-0.045953,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,2.032093,-0.493202,-0.159494,-0.422333,-0.206201,-0.492103,-0.496055
2377,-0.106064,-0.838372,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,2.032093,-0.496055
2378,-0.623656,-0.965990,-0.187772,-0.184548,-0.186569,-0.196401,-0.193302,-0.190159,-0.190554,-0.19717,...,-0.502189,-0.547606,-0.286147,-0.492103,-0.493202,-0.159494,-0.422333,-0.206201,2.032093,-0.496055

In [107]:
# Creating the Linear Regression instance.
model = LinearRegression()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [108]:
#
# research included article from 
# https://ijeremiah.com/portfolio/cars/
# this is using code/inspiration/edu from Cell~55
#
intercept = model.intercept_.round(4)
coeff = model.coef_.round(4)

weights = pd.DataFrame({'Parameter': np.append('const', X.columns.values), 'Coef': np.append(intercept, coeff)})
weights

                                            Parameter          Coef
0                                               const  4.905963e+05
1                                          population  2.511099e+15
2                                         marketshare  5.156195e+05
3                                        county_Baker  7.268531e+16
4                                       county_Benton  7.134292e+16
5                                    county_Clackamas  7.132053e+16
6                                      county_Clatsop  7.572523e+16
7                                     county_Columbia  7.458837e+16
8                                         county_Coos  7.343290e+16
9                                        county_Curry  7.367093e+16
10                                   county_Deschutes  7.561728e+16
11                                     county_Douglas  7.188999e+16
12                                       county_Grant  6.353916e+16
13                                      county_Harney  6.853008e+16
14                                   county_HoodRiver  7.549073e+16
15                                     county_Jackson  7.177541e+16
16                                   county_Jefferson  7.120751e+16
17                                   county_Josephine  7.252121e+16
18                                     county_Klamath  6.273692e+16
19                                        county_Lake  6.453689e+16
20                                        county_Lane  7.821189e+16
21                                     county_Lincoln  7.417500e+16
22                                        county_Linn  7.213825e+16
23                                     county_Malheur  5.417520e+16
24                                      county_Marion  7.347614e+16
25                                   county_Multnomah  7.544549e+16
26                                        county_Polk  7.337912e+16
27                                   county_Tillamook  7.394723e+16
28                                    county_Umatilla  7.253970e+16
29                                       county_Union  2.991155e+16
30                                     county_Wallowa  5.637153e+16
31                                       county_Wasco  7.465010e+16
32                                  county_Washington  7.314979e+16
33                                     county_Yamhill  7.375671e+16
34                                       salesmonth_1  1.035644e+18
35                                       salesmonth_2  1.060778e+18
36                                       salesmonth_3  1.057778e+18
37                                       salesmonth_4  1.096539e+18
38                                       salesmonth_5  9.850528e+17
39                                       salesmonth_6  9.933276e+17
40                                       salesmonth_7  1.006370e+18
41                                       salesmonth_8  1.012001e+18
42                                       salesmonth_9  9.783626e+17
43                                      salesmonth_10  1.003132e+18
44                                      salesmonth_11  1.035644e+18
45                                      salesmonth_12  1.046415e+18
46                                     salesyear_2016  4.517115e+17
47                                     salesyear_2017  1.071818e+18
48                                     salesyear_2018  1.240894e+18
49                                     salesyear_2019  1.290762e+18
50                                     salesyear_2020  1.329642e+18
51                                     salesyear_2021  1.396712e+18
52                                     salesyear_2022  8.768989e+17
53                        product_Concentrate/Extract -4.028359e+18
54                            product_Edible/Tincture -4.033835e+18
55                            product_Industrial Hemp -1.581562e+18
56          product_Industrial Hemp Commodity/Product -3.644402e+18
57  product_Inhalable Product with Non-Cannabis Ad... -2.011217e+18
58                                      product_Other -4.028359e+18
59                                  product_Usable MJ -4.047982e+18

In [109]:
# Making predictions using the testing data.
predictionstest = model.predict(X_test_scaled)
predictionstrain = model.predict(X_train_scaled)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [110]:
#predictions = pd.DataFrame(predictions, columns = ["Sales"])
#2379

#2nd Try is 7135
predictionstrain.size

7135

In [111]:
#y_train = pd.DataFrame(y_train, columns = ["Sales"])
#7135


y_train.size
#y_test.size

7135

In [112]:
# Again inspiration from 
# https://ijeremiah.com/portfolio/cars/
# ~Cell 59

eval_df_train = pd.DataFrame({'Predicted': predictionstrain, 
                              'Observed': y_train, 
                              'Residual': predictionstrain - y_train,
                              'Abs. Error': np.abs(predictionstrain - y_train)
                             }
)

In [113]:

eval_df_train

         Predicted  Observed      Residual    Abs. Error
0    -1.035797e+05       849 -1.044287e+05  1.044287e+05
1    -1.680917e+05     13012 -1.811037e+05  1.811037e+05
2     4.534763e+05        10  4.534663e+05  4.534663e+05
3     3.419492e+06   1818879  1.600613e+06  1.600613e+06
4     7.504363e+05     68059  6.823773e+05  6.823773e+05
...            ...       ...           ...           ...
7130 -3.575317e+05      7556 -3.650877e+05  3.650877e+05
7131 -4.317717e+05     22591 -4.543627e+05  4.543627e+05
7132 -1.624597e+05     43260 -2.057197e+05  2.057197e+05
7133  1.125476e+06    679291  4.461853e+05  4.461853e+05
7134  1.913956e+06   3190012 -1.276056e+06  1.276056e+06

[7135 rows x 4 columns]

In [ ]:
# Pretty Sure this is not the results we wanted
# We had tried using the Date Column as a Numeric but that also had similar mal-aigned results.
# Our next step is to use a dataset that also has population as an additional column
# This is included now but the analysis still does not present desired results