In [1]:
# Import our dependencies
import pandas as pd
from datetime import datetime as dt
import numpy as np

# Machine Learning includes
#from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
#from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
#from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from getpass import getpass
from sqlalchemy import create_engine

In [2]:
# Store environmental variable
password = getpass('Enter database password')

#SQLAlcehmy for working directly with the table stored in Postgres.
connstring = 'postgresql://postgres:'+password+'@aws-fp20-instance.cchbtewatphd.us-west-2.rds.amazonaws.com:5432/AWSFP20'
engine = create_engine(connstring, echo=True)
conn = engine.connect()


# #-----------------------------------------------------
# SQLAlchemy  we can just request the table name, but the full SQL would be similar to 
# rs = conn.execute("SELECT county, population, salesmonth, salesyear, product, marketshare, sales FROM public.complete_county_data;") # THIS IS THE DATASET WE WANT!!!!!!!!!!!!!!!!!!!!!!!
# #-----------------------------------------------------
candfraw = pd.read_sql_table('complete_county_data', conn)

Enter database password··········

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

2022-05-25 18:19:39,973 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-05-25 18:19:39,975 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:19:40,020 INFO sqlalchemy.engine.Engine select current_schema()
2022-05-25 18:19:40,029 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:19:40,065 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-05-25 18:19:40,073 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-05-25 18:19:40,108 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2022-05-25 18:19:40,113 INFO sqlalchemy.engine.Engine [generated in 0.00536s] {'schema': 'public'}
2022-05-25 18:19:40,153 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2022-05-25 18:19:40,161 INFO sqlalchemy.engine.Engine [generated in 0.00418s] {'schema': 'public'}
2022-05-25 18:19:40,189 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2022-05-25 18:19:40,202 INFO sqlalchemy.engine.Engine [generated in 0.01250s] {'table_name': 'complete_county_data'}
2022-05-25 18:19:40,229 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2022-05-25 18:19:40,243 INFO sqlalchemy.engine.Engine [generated in 0.01353s] {'table_oid': 16748}
2022-05-25 18:19:40,262 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2022-05-25 18:19:40,264 INFO sqlalchemy.engine.Engine [generated in 0.00212s] {}
2022-05-25 18:19:40,289 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2022-05-25 18:19:40,292 INFO sqlalchemy.engine.Engine [generated in 0.00277s] {}
2022-05-25 18:19:40,313 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2022-05-25 18:19:40,323 INFO sqlalchemy.engine.Engine [generated in 0.01073s] {'table_oid': 16748}
2022-05-25 18:19:40,344 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2022-05-25 18:19:40,354 INFO sqlalchemy.engine.Engine [generated in 0.01020s] {'table_oid': 16748}
2022-05-25 18:19:40,378 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2022-05-25 18:19:40,395 INFO sqlalchemy.engine.Engine [generated in 0.01798s] {'table': 16748}
2022-05-25 18:19:40,419 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2022-05-25 18:19:40,423 INFO sqlalchemy.engine.Engine [generated in 0.00393s] {'table_oid': 16748}
2022-05-25 18:19:40,445 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2022-05-25 18:19:40,450 INFO sqlalchemy.engine.Engine [generated in 0.00481s] {'table_oid': 16748}
2022-05-25 18:19:40,475 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2022-05-25 18:19:40,490 INFO sqlalchemy.engine.Engine [generated in 0.01506s] {'table_oid': 16748}
2022-05-25 18:19:40,523 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2022-05-25 18:19:40,529 INFO sqlalchemy.engine.Engine [generated in 0.00555s] {'table_oid': 16748}
2022-05-25 18:19:40,552 INFO sqlalchemy.engine.Engine SELECT complete_county_data.county, complete_county_data.population, complete_county_data.salesmonth, complete_county_data.salesyear, complete_county_data.product, complete_county_data.marketshare, complete_county_data.sales
FROM complete_county_data
2022-05-25 18:19:40,562 INFO sqlalchemy.engine.Engine [generated in 0.00975s] {}

In [3]:
candfraw

,county,population,salesmonth,salesyear,product,marketshare,sales
0,Baker,16721,9.0,2018.0,Usable MJ,48.89,1344597.20
1,Baker,16721,9.0,2019.0,Concentrate/Extract,28.40,529323.96
2,Baker,16721,2.0,2018.0,Other,1.68,30674.33
3,Baker,16721,9.0,2021.0,Usable MJ,52.50,219345.61
4,Baker,16721,9.0,2021.0,Other,7.17,29949.32
...,...,...,...,...,...,...,...
9509,Yamhill,107873,10.0,2021.0,Usable MJ,47.11,817694.68
9510,Yamhill,107873,9.0,2017.0,Concentrate/Extract,24.40,240760.82
9511,Yamhill,107873,9.0,2017.0,Edible/Tincture,8.02,79091.16
9512,Yamhill,107873,9.0,2017.0,Other,2.01,19850.00
9513,Yamhill,107873,9.0,2017.0,Usable MJ,65.57,646944.32

In [ ]:
#----------------------------------------------------
#NOT DONE PORTING STOPPED HERE FOR GIT UPLOAD SO FAR
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------
#----------------------------------------------------

In [ ]:

# Read in our dataset
candfraw = pd.read_csv("second_segment/County Product Trend_Full Data_data.csv")

cannabis_df = candfraw.copy(deep=True)
cannabis_df

,Date,Product Type,County,Month Name,Month Year,Tooltip Date,Market Share County,Sales,Sales Detail
0,10/1/2016,Usable MJ,Baker,October,10/1/2016,October 2016,100.00,58637.51,58637.51
1,10/1/2016,Usable MJ,Baker,October,10/1/2016,October 2016,100.00,441.00,441.00
2,10/1/2016,Concentrate/Extract,Clackamas,October,10/1/2016,October 2016,15.14,803.20,803.20
3,10/1/2016,Edible/Tincture,Clackamas,October,10/1/2016,October 2016,9.31,359.68,359.68
4,10/1/2016,Other,Clackamas,October,10/1/2016,October 2016,1.13,30.00,30.00
...,...,...,...,...,...,...,...,...,...
32416,4/1/2022,Usable MJ,Wasco,April,4/1/2022,April 2022,48.13,3980.86,3980.86
32417,4/1/2022,Usable MJ,Washington,April,4/1/2022,April 2022,47.34,27466.81,27466.81
32418,4/1/2022,Usable MJ,Washington,April,4/1/2022,April 2022,47.34,172242.21,172242.21
32419,4/1/2022,Usable MJ,Yamhill,April,4/1/2022,April 2022,45.68,5089.02,5089.02
32420,4/1/2022,Usable MJ,Yamhill,April,4/1/2022,April 2022,45.68,34264.89,34264.89

In [ ]:
#Create a new column with formated Date
cannabis_df['SalesMonthDate'] = pd.to_datetime(cannabis_df["Month Year"])

#Drop columns that are repetative
cannabis_df.drop(columns=["Month Name", "Month Year", "Tooltip Date", "Date", "Sales Detail" ],axis=1,inplace=True)


cannabis_df

,Product Type,County,Market Share County,Sales,SalesMonthDate
0,Usable MJ,Baker,100.00,58637.51,2016-10-01
1,Usable MJ,Baker,100.00,441.00,2016-10-01
2,Concentrate/Extract,Clackamas,15.14,803.20,2016-10-01
3,Edible/Tincture,Clackamas,9.31,359.68,2016-10-01
4,Other,Clackamas,1.13,30.00,2016-10-01
...,...,...,...,...,...
32416,Usable MJ,Wasco,48.13,3980.86,2022-04-01
32417,Usable MJ,Washington,47.34,27466.81,2022-04-01
32418,Usable MJ,Washington,47.34,172242.21,2022-04-01
32419,Usable MJ,Yamhill,45.68,5089.02,2022-04-01
32420,Usable MJ,Yamhill,45.68,34264.89,2022-04-01

In [ ]:
# There are rows where the sales are broken out into 2 disctinct values, but the "Market Share County" has them aggregated
# We can show this below
cannabis_df.groupby(['SalesMonthDate', 'Product Type', 'County']).count()

                                               Market Share County  Sales
SalesMonthDate Product Type        County
2016-10-01     Concentrate/Extract Clackamas                     2      2
                                   Clatsop                       2      2
                                   Deschutes                     2      2
                                   Hood River                    2      2
                                   Jackson                       2      2
...                                                            ...    ...
2022-04-01     Usable MJ           Umatilla                      4      4
                                   Wallowa                       4      4
                                   Wasco                         4      4
                                   Washington                    6      6
                                   Yamhill                       6      6

[9514 rows x 2 columns]

In [ ]:
#Whole dataset 
testdf_CntyNMonth = cannabis_df[(cannabis_df["County"]=="Clackamas")&(cannabis_df["SalesMonthDate"]=="2016-11-01")]
testdf_CntyNMonth

,Product Type,County,Market Share County,Sales,SalesMonthDate
101,Concentrate/Extract,Clackamas,13.58,2315.28,2016-11-01
102,Edible/Tincture,Clackamas,4.98,338.96,2016-11-01
103,Other,Clackamas,2.35,486.23,2016-11-01
104,Usable MJ,Clackamas,79.09,17086.67,2016-11-01
105,Concentrate/Extract,Clackamas,13.58,981.50,2016-11-01
106,Edible/Tincture,Clackamas,4.98,871.40,2016-11-01
107,Other,Clackamas,2.35,85.00,2016-11-01
108,Usable MJ,Clackamas,79.09,2116.15,2016-11-01

In [ ]:
#We can see the double values here specifically
testdf_CntyNMonth_ProdType = cannabis_df[(cannabis_df["County"]=="Clackamas")&(cannabis_df["SalesMonthDate"]=="2016-11-01")
               &(cannabis_df["Product Type"]=="Concentrate/Extract")]

testdf_CntyNMonth_ProdType

,Product Type,County,Market Share County,Sales,SalesMonthDate
101,Concentrate/Extract,Clackamas,13.58,2315.28,2016-11-01
105,Concentrate/Extract,Clackamas,13.58,981.50,2016-11-01

In [ ]:
#We should see about 13.58
#we do so this has been fixed
print((testdf_CntyNMonth_ProdType["Sales"].sum()/testdf_CntyNMonth["Sales"].sum())*100)

13.577505880066013

In [ ]:
#so we know we can add the two rows together
#and we can Drop "Market Share County" column
cannabis_df.drop(columns=["Market Share County" ],axis=1,inplace=True)
#rename column too
cannabis_df = cannabis_df.rename(columns={'Product Type': 'ProductType'})

candfNodup_df = cannabis_df.groupby(['SalesMonthDate', 'ProductType', 'County']).sum().reset_index()

In [ ]:
#Single Value is good
candfNodup_df[(candfNodup_df["County"]=="Clackamas")&(candfNodup_df["SalesMonthDate"]=="2016-11-01")
               &(candfNodup_df["ProductType"]=="Concentrate/Extract")]

   SalesMonthDate          ProductType     County    Sales
49     2016-11-01  Concentrate/Extract  Clackamas  3296.78

In [ ]:
# Now we convert the Date (Month and Year)

# Old Code to convert SalesMonthDate to numeric
#candfNodup_df["SalesMonthDate"] = candfNodup_df["SalesMonthDate"].dt.year*100+candfNodup_df["SalesMonthDate"].dt.month

candfNodup_df['SalesMonth'] = candfNodup_df['SalesMonthDate']
candfNodup_df['SalesYear'] = candfNodup_df['SalesMonthDate']

candfNodup_df['SalesMonth'] = pd.DatetimeIndex(candfNodup_df['SalesMonth']).month.astype(object)
candfNodup_df['SalesYear'] = pd.DatetimeIndex(candfNodup_df['SalesYear']).year.astype(object)

#Drop Date column now that we have them separated and ready to encode
candfNodup_df.drop(columns=["SalesMonthDate" ],axis=1,inplace=True)

In [ ]:
#Take a look at data
candfNodup_df["ProductType"].unique()

array(['Concentrate/Extract', 'Edible/Tincture', 'Other', 'Usable MJ',
       'Industrial Hemp Commodity/Product', 'Industrial Hemp',
       'Inhalable Product with Non-Cannabis Additives'], dtype=object)

In [ ]:
candfNodup_df["County"].unique()

array(['Clackamas', 'Clatsop', 'Deschutes', 'Hood River', 'Jackson',
       'Lane', 'Lincoln', 'Marion', 'Multnomah', 'Tillamook',
       'Washington', 'Yamhill', 'Baker', 'Columbia', 'Douglas', 'Curry',
       'Polk', 'Wasco', 'Coos', 'Benton', 'Jefferson', 'Josephine',
       'Linn', 'Umatilla', 'Harney', 'Lake', 'Klamath', 'Grant', 'Union',
       'Wallowa', 'Malheur'], dtype=object)

In [ ]:
candfNodup_df["SalesMonth"].unique()

array([10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=object)

In [ ]:
candfNodup_df["SalesYear"].unique()

array([2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype=object)

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Generate our categorical variable lists
cannabis_cat = candfNodup_df.dtypes[candfNodup_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
candfNodup_df[cannabis_cat].nunique()

ProductType     7
County         31
SalesMonth     12
SalesYear       7
dtype: int64

In [ ]:
candfNodup_df

              ProductType      County       Sales SalesMonth SalesYear
0     Concentrate/Extract   Clackamas      947.20         10      2016
1     Concentrate/Extract     Clatsop    13057.00         10      2016
2     Concentrate/Extract   Deschutes     9763.45         10      2016
3     Concentrate/Extract  Hood River    23438.44         10      2016
4     Concentrate/Extract     Jackson    95346.45         10      2016
...                   ...         ...         ...        ...       ...
9509            Usable MJ    Umatilla   646336.81          4      2022
9510            Usable MJ     Wallowa    48779.53          4      2022
9511            Usable MJ       Wasco   178133.02          4      2022
9512            Usable MJ  Washington  4298767.33          4      2022
9513            Usable MJ     Yamhill   777254.09          4      2022

[9514 rows x 5 columns]

In [ ]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(candfNodup_df[cannabis_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(cannabis_cat)
encode_df.head()

   ProductType_Concentrate/Extract  ProductType_Edible/Tincture  \
0                              1.0                          0.0
1                              1.0                          0.0
2                              1.0                          0.0
3                              1.0                          0.0
4                              1.0                          0.0

   ProductType_Industrial Hemp  ProductType_Industrial Hemp Commodity/Product  \
0                          0.0                                            0.0
1                          0.0                                            0.0
2                          0.0                                            0.0
3                          0.0                                            0.0
4                          0.0                                            0.0

   ProductType_Inhalable Product with Non-Cannabis Additives  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   ProductType_Other  ProductType_Usable MJ  County_Baker  County_Benton  \
0                0.0                    0.0           0.0            0.0
1                0.0                    0.0           0.0            0.0
2                0.0                    0.0           0.0            0.0
3                0.0                    0.0           0.0            0.0
4                0.0                    0.0           0.0            0.0

   County_Clackamas  ...  SalesMonth_10  SalesMonth_11  SalesMonth_12  \
0               1.0  ...            1.0            0.0            0.0
1               0.0  ...            1.0            0.0            0.0
2               0.0  ...            1.0            0.0            0.0
3               0.0  ...            1.0            0.0            0.0
4               0.0  ...            1.0            0.0            0.0

   SalesYear_2016  SalesYear_2017  SalesYear_2018  SalesYear_2019  \
0             1.0             0.0             0.0             0.0
1             1.0             0.0             0.0             0.0
2             1.0             0.0             0.0             0.0
3             1.0             0.0             0.0             0.0
4             1.0             0.0             0.0             0.0

   SalesYear_2020  SalesYear_2021  SalesYear_2022
0             0.0             0.0             0.0
1             0.0             0.0             0.0
2             0.0             0.0             0.0
3             0.0             0.0             0.0
4             0.0             0.0             0.0

[5 rows x 57 columns]

In [ ]:
candfNodup_dfWencode = candfNodup_df.merge(encode_df, left_index=True, right_index=True)
candfNodup_dfWencode = candfNodup_dfWencode.drop(columns=cannabis_cat, axis=1)
#candfNodup_dfWencode

In [ ]:
#candfNodup_dfWencode.columns.values.tolist()
#candfNodup_dfWencode.dtypes
candfNodup_dfWencode.info()
#candfNodup_dfWencode.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9514 entries, 0 to 9513
Data columns (total 58 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Sales                                                      9514 non-null   float64
 1   ProductType_Concentrate/Extract                            9514 non-null   float64
 2   ProductType_Edible/Tincture                                9514 non-null   float64
 3   ProductType_Industrial Hemp                                9514 non-null   float64
 4   ProductType_Industrial Hemp Commodity/Product              9514 non-null   float64
 5   ProductType_Inhalable Product with Non-Cannabis Additives  9514 non-null   float64
 6   ProductType_Other                                          9514 non-null   float64
 7   ProductType_Usable MJ                                      9514 non-null   float64
 8   County_Baker                                               9514 non-null   float64
 9   County_Benton                                              9514 non-null   float64
 10  County_Clackamas                                           9514 non-null   float64
 11  County_Clatsop                                             9514 non-null   float64
 12  County_Columbia                                            9514 non-null   float64
 13  County_Coos                                                9514 non-null   float64
 14  County_Curry                                               9514 non-null   float64
 15  County_Deschutes                                           9514 non-null   float64
 16  County_Douglas                                             9514 non-null   float64
 17  County_Grant                                               9514 non-null   float64
 18  County_Harney                                              9514 non-null   float64
 19  County_Hood River                                          9514 non-null   float64
 20  County_Jackson                                             9514 non-null   float64
 21  County_Jefferson                                           9514 non-null   float64
 22  County_Josephine                                           9514 non-null   float64
 23  County_Klamath                                             9514 non-null   float64
 24  County_Lake                                                9514 non-null   float64
 25  County_Lane                                                9514 non-null   float64
 26  County_Lincoln                                             9514 non-null   float64
 27  County_Linn                                                9514 non-null   float64
 28  County_Malheur                                             9514 non-null   float64
 29  County_Marion                                              9514 non-null   float64
 30  County_Multnomah                                           9514 non-null   float64
 31  County_Polk                                                9514 non-null   float64
 32  County_Tillamook                                           9514 non-null   float64
 33  County_Umatilla                                            9514 non-null   float64
 34  County_Union                                               9514 non-null   float64
 35  County_Wallowa                                             9514 non-null   float64
 36  County_Wasco                                               9514 non-null   float64
 37  County_Washington                                          9514 non-null   float64
 38  County_Yamhill                                             9514 non-null   float64
 39  SalesMonth_1                                               9514 non-null   float64
 40  SalesMonth_2                                               9514 non-null   float64
 41  SalesMonth_3                                               9514 non-null   float64
 42  SalesMonth_4                                               9514 non-null   float64
 43  SalesMonth_5                                               9514 non-null   float64
 44  SalesMonth_6                                               9514 non-null   float64
 45  SalesMonth_7                                               9514 non-null   float64
 46  SalesMonth_8                                               9514 non-null   float64
 47  SalesMonth_9                                               9514 non-null   float64
 48  SalesMonth_10                                              9514 non-null   float64
 49  SalesMonth_11                                              9514 non-null   float64
 50  SalesMonth_12                                              9514 non-null   float64
 51  SalesYear_2016                                             9514 non-null   float64
 52  SalesYear_2017                                             9514 non-null   float64
 53  SalesYear_2018                                             9514 non-null   float64
 54  SalesYear_2019                                             9514 non-null   float64
 55  SalesYear_2020                                             9514 non-null   float64
 56  SalesYear_2021                                             9514 non-null   float64
 57  SalesYear_2022                                             9514 non-null   float64
dtypes: float64(58)
memory usage: 4.2 MB

In [ ]:
# Set y equal to the target, Sales
y = candfNodup_dfWencode["Sales"].values
y

array([9.47200000e+02, 1.30570000e+04, 9.76345000e+03, ...,
       1.78133020e+05, 4.29876733e+06, 7.77254090e+05])

In [ ]:
# Set X to the df minus the "Sales" column
X = candfNodup_dfWencode.drop(columns=["Sales"],axis=1)
X

,ProductType_Concentrate/Extract,ProductType_Edible/Tincture,ProductType_Industrial Hemp,ProductType_Industrial Hemp Commodity/Product,ProductType_Inhalable Product with Non-Cannabis Additives,ProductType_Other,ProductType_Usable MJ,County_Baker,County_Benton,County_Clackamas,...,SalesMonth_10,SalesMonth_11,SalesMonth_12,SalesYear_2016,SalesYear_2017,SalesYear_2018,SalesYear_2019,SalesYear_2020,SalesYear_2021,SalesYear_2022
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9510,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9511,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9512,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9513,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
# Split the preprocessed data into a training and testing dataset
#9514rows
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
#7135 X_train
#2379 X_test
#7135 y_train
#2379 y_test



#X_train
#X_test
#len(y_train)
#len(y_test)

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns.values)
X_train_scaled

,ProductType_Concentrate/Extract,ProductType_Edible/Tincture,ProductType_Industrial Hemp,ProductType_Industrial Hemp Commodity/Product,ProductType_Inhalable Product with Non-Cannabis Additives,ProductType_Other,ProductType_Usable MJ,County_Baker,County_Benton,County_Clackamas,...,SalesMonth_10,SalesMonth_11,SalesMonth_12,SalesYear_2016,SalesYear_2017,SalesYear_2018,SalesYear_2019,SalesYear_2020,SalesYear_2021,SalesYear_2022
0,2.039381,-0.494739,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,3.253120,-0.299687,-0.307124,7.173788,-0.369715,-0.443561,-0.475337,-0.508963,-0.545227,-0.289004
1,-0.490345,2.021270,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,3.256014,-0.139396,-0.369715,-0.443561,2.103772,-0.508963,-0.545227,-0.289004
2,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,-0.545227,3.460163
3,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004
4,-0.490345,-0.494739,-0.158103,-0.423024,-0.204719,-0.495836,2.026665,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,1.964778,-0.545227,-0.289004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7130,-0.490345,-0.494739,-0.158103,-0.423024,-0.204719,2.016797,-0.493421,-0.187772,-0.18857,-0.186569,...,3.253120,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,1.964778,-0.545227,-0.289004
7131,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,5.359960,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,2.103772,-0.508963,-0.545227,-0.289004
7132,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,1.964778,-0.545227,-0.289004
7133,2.039381,-0.494739,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,2.704783,-0.443561,-0.475337,-0.508963,-0.545227,-0.289004
7134,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004

In [ ]:
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_train.columns.values)
X_test_scaled

,ProductType_Concentrate/Extract,ProductType_Edible/Tincture,ProductType_Industrial Hemp,ProductType_Industrial Hemp Commodity/Product,ProductType_Inhalable Product with Non-Cannabis Additives,ProductType_Other,ProductType_Usable MJ,County_Baker,County_Benton,County_Clackamas,...,SalesMonth_10,SalesMonth_11,SalesMonth_12,SalesYear_2016,SalesYear_2017,SalesYear_2018,SalesYear_2019,SalesYear_2020,SalesYear_2021,SalesYear_2022
0,-0.490345,-0.494739,-0.158103,-0.423024,-0.204719,2.016797,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004
1,2.039381,-0.494739,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,2.254483,-0.475337,-0.508963,-0.545227,-0.289004
2,-0.490345,-0.494739,6.325010,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004
3,-0.490345,2.021270,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,2.704783,-0.443561,-0.475337,-0.508963,-0.545227,-0.289004
4,-0.490345,-0.494739,-0.158103,-0.423024,-0.204719,2.016797,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,3.256014,7.173788,-0.369715,-0.443561,-0.475337,-0.508963,-0.545227,-0.289004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2374,-0.490345,2.021270,-0.158103,-0.423024,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,3.256014,-0.139396,-0.369715,2.254483,-0.475337,-0.508963,-0.545227,-0.289004
2375,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,-0.307124,-0.139396,-0.369715,2.254483,-0.475337,-0.508963,-0.545227,-0.289004
2376,-0.490345,-0.494739,-0.158103,-0.423024,4.884734,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,-0.307397,-0.299687,3.256014,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004
2377,-0.490345,-0.494739,-0.158103,-0.423024,-0.204719,2.016797,-0.493421,-0.187772,5.30306,-0.186569,...,3.253120,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,1.964778,-0.545227,-0.289004
2378,-0.490345,-0.494739,-0.158103,2.363933,-0.204719,-0.495836,-0.493421,-0.187772,-0.18857,-0.186569,...,3.253120,-0.299687,-0.307124,-0.139396,-0.369715,-0.443561,-0.475337,-0.508963,1.834098,-0.289004

In [ ]:
# Creating the Linear Regression instance.
model = LinearRegression()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [ ]:
#
# research included article from 
# https://ijeremiah.com/portfolio/cars/
# this is using code/inspiration/edu from Cell~55
#
intercept = model.intercept_.round(4)
coeff = model.coef_.round(4)

weights = pd.DataFrame({'Parameter': np.append('const', X.columns.values), 'Coef': np.append(intercept, coeff)})
weights

                                            Parameter          Coef
0                                               const  4.781894e+05
1                     ProductType_Concentrate/Extract -1.793045e+18
2                         ProductType_Edible/Tincture -1.802820e+18
3                         ProductType_Industrial Hemp -6.996502e+17
4       ProductType_Industrial Hemp Commodity/Product -1.627550e+18
5   ProductType_Inhalable Product with Non-Cannabi... -8.912373e+17
6                                   ProductType_Other -1.805242e+18
7                               ProductType_Usable MJ -1.799903e+18
8                                        County_Baker -3.044236e+18
9                                       County_Benton -3.056294e+18
10                                   County_Clackamas -3.026044e+18
11                                     County_Clatsop -3.098073e+18
12                                    County_Columbia -3.121657e+18
13                                        County_Coos -3.115780e+18
14                                       County_Curry -3.056294e+18
15                                   County_Deschutes -3.202614e+18
16                                     County_Douglas -3.062303e+18
17                                       County_Grant -2.803794e+18
18                                      County_Harney -2.907792e+18
19                                  County_Hood River -3.098073e+18
20                                     County_Jackson -3.062303e+18
21                                   County_Jefferson -3.001591e+18
22                                   County_Josephine -3.019952e+18
23                                     County_Klamath -2.552334e+18
24                                        County_Lake -2.743336e+18
25                                        County_Lane -3.156649e+18
26                                     County_Lincoln -3.115780e+18
27                                        County_Linn -2.989279e+18
28                                     County_Malheur -2.344112e+18
29                                      County_Marion -3.173977e+18
30                                   County_Multnomah -3.264583e+18
31                                        County_Polk -3.086203e+18
32                                   County_Tillamook -3.068298e+18
33                                    County_Umatilla -3.026044e+18
34                                       County_Union -1.283932e+18
35                                     County_Wallowa -2.352184e+18
36                                       County_Wasco -3.038186e+18
37                                  County_Washington -3.139210e+18
38                                     County_Yamhill -3.127520e+18
39                                       SalesMonth_1  5.367265e+18
40                                       SalesMonth_2  5.445609e+18
41                                       SalesMonth_3  5.552564e+18
42                                       SalesMonth_4  5.545026e+18
43                                       SalesMonth_5  5.036018e+18
44                                       SalesMonth_6  5.172132e+18
45                                       SalesMonth_7  5.167954e+18
46                                       SalesMonth_8  5.074816e+18
47                                       SalesMonth_9  5.053312e+18
48                                      SalesMonth_10  5.375175e+18
49                                      SalesMonth_11  5.262857e+18
50                                      SalesMonth_12  5.371222e+18
51                                     SalesYear_2016  4.325936e+18
52                                     SalesYear_2017  1.028993e+19
53                                     SalesYear_2018  1.172567e+19
54                                     SalesYear_2019  1.226640e+19
55                                     SalesYear_2020  1.278887e+19
56                                     SalesYear_2021  1.329636e+19
57                                     SalesYear_2022  8.438240e+18

In [ ]:
# Making predictions using the testing data.
predictionstest = model.predict(X_test_scaled)
predictionstrain = model.predict(X_train_scaled)

In [ ]:
#predictions = pd.DataFrame(predictions, columns = ["Sales"])
#2379

#2nd Try is 7135
predictionstrain.size

7135

In [ ]:
#y_train = pd.DataFrame(y_train, columns = ["Sales"])
#7135


y_train.size
#y_test.size

7135

In [ ]:
# Again inspiration from 
# https://ijeremiah.com/portfolio/cars/
# ~Cell 59

eval_df_train = pd.DataFrame({'Predicted': predictionstrain, 
                              'Observed': y_train, 
                              'Residual': predictionstrain - y_train,
                              'Abs. Error': np.abs(predictionstrain - y_train)
                             }
)

In [ ]:

eval_df_train

         Predicted   Observed      Residual    Abs. Error
0    -3.425466e+05    4466.93 -3.470136e+05  3.470136e+05
1    -1.049786e+05   52860.20 -1.578388e+05  1.578388e+05
2    -1.853626e+05    8200.34 -1.935630e+05  1.935630e+05
3     3.896134e+05   61582.11  3.280312e+05  3.280312e+05
4     9.855814e+05   67508.89  9.180725e+05  9.180725e+05
...            ...        ...           ...           ...
7130 -2.544826e+05    4749.86 -2.592325e+05  2.592325e+05
7131  2.022214e+05   72875.04  1.293463e+05  1.293463e+05
7132 -7.323464e+04   14183.20 -8.741784e+04  8.741784e+04
7133  2.544454e+05  118070.87  1.363745e+05  1.363745e+05
7134  2.950637e+06  121645.00  2.828992e+06  2.828992e+06

[7135 rows x 4 columns]

In [ ]:
# Pretty Sure this is not the results we wanted
# We had tried using the Date Column as a Numeric but that also had similar mal-aigned results.
# Our next step is to use a dataset that also has population as an additional column
# this is week 3 of 4.

#Our analysis with the Population will be present for week 4/4 below.